 .container{
  background-image: url(../assets/kitchen\ image.jpg);
  background-size: cover;
 }
 *{
  margin: 0;
  padding: 0;
 }
.imagebox{
   margin-left: 40;
   border-radius: 20px;
    width: 500px;
    height: 500px;
    
}
.titlebox{
    text-align: center;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin: 20px; */
    color: rgb(9, 152, 9);
}
.imagebox {

  width: 500px;
  height: 500px;
  overflow: hidden;
}

.imagebox img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.imagebox:hover img {
  transform: scale(1.1) ;
}

.box1
{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    height: 100vh;
} 

/* form css  */
.signupform {
    width: 300px;
    padding: 30px;
    border: 1px solid rgb(2, 63, 2);
    border-radius: 5px;
    color: rgb(7, 64, 7);
    background-color: rgba(255, 228, 196, 0.55);
    font-size: large;
    font-weight: 200;
    
    
  }
.formtitle h2{
  color: #2f5f05;
  font-family:cursive;

}
   
  .formtitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formtitle h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #2f5f05;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color:#83f321;
  }
  
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  


